.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #113c63,
    #176391,
    #168ebf,
    #12bceb
  );
  color: white;
  padding: 30px;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px 0 #051937;
}
